@import "~bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@1&display=swap');


body {
    background-color: aqua;
}


.counters {
    background-color: aqua;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: 70%;
    justify-content: center;
    height: 100vh;
    margin-top:100px;
    
}

.boxes {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    flex-direction: row;
    height: fit-content;
    background-color: aqua;

}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    flex-direction: row;
    margin-top:345px;
    background-color: aqua;
}


.Boxes {
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: center;
}

span {
    background-color:rgb(255, 255, 255);
    border: 15px solid rgb(129, 131, 129);
    box-shadow: 2px 5px #cac9c9;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

